h1 {
    background-color: black;
    color: white;
    padding: 10px;
}

a {
    font: Arial;
}

p {
    font-style: italic;
}

#results {
    width: 500px;
    margin-top: 25px;
    padding-top: 10px;
    border-top: thin dashed black;
}

